<!doctype html>
<html>
<head>
  <title>Spark Practice</title>
  <link href="index.css" rel="stylesheet">
</head>
<body>


<h1>ㅇㅅㅇ)/ {{ counter }}</h1>
<p>Hello, Spark!</p>

<script src="index.js"></script>
</body>
</html>
